<div class="cont">



    <div class="card ccd" style="width: 20rem; ">
        <img  style="height:260px;" src="https://olc-wordpress-assets.s3.amazonaws.com/uploads/2016/12/professional-membership-2.png" class="card-img-top cit" alt="...">
        <div class="card-body cb">
            <h5 class="card-title "><i class="fa-sharp fa-solid fa-users"></i> Community</h5>
            <p class="card-text">Community of students,developers,freelancers and aluminis to ask doubts.</p>
            <a href="#" class="btn btn-primary ct">Go somewhere</a>
        </div>
    </div>

    <div class="card ccd" style="width: 20rem; ">
        <img style="height:260px;" src="https://media.istockphoto.com/id/1165702602/photo/it-expert.jpg?s=612x612&w=0&k=20&c=e2KEotS_SdWywNrcN8zHjdU5epR-nPCnCC0Vs3FIwcI=" class="card-img-top cit" alt="...">
        <div class="card-body cb">
            <h5 class="card-title "> <i class="fa-sharp fa-solid fa-square-virus"></i> Tools</h5>
            <p class="card-text">Some convient tools to help you find where you stand and how to deliver.</p>
            <a href="#" class="btn btn-primary ct">Go somewhere</a>
        </div>
    </div>

    <div class="card ccd" style="width: 20rem; ">
        <img src="https://st.depositphotos.com/2274151/4374/i/600/depositphotos_43745075-stock-photo-members-only-blue-grunge-retro.jpg" class="card-img-top cit" alt="...">
        <div class="card-body cb">
            <h5 class="card-title "><i class="fa-sharp fa-solid fa-user-plus"></i>  Memberships</h5>
            <p class="card-text">Become a member and find benefits which only you could acccess.</p>
            <a href="#" class="btn btn-primary ct">Go somewhere</a>
        </div>

    </div>

</div>