*{
    box-sizing: border-box;
}

.cont{

    display: flex;
    /* flex-direction: row; */
    flex-flow: row wrap;
    justify-content: space-around;
    /* margin-bottom: 40px; */
    margin-top: 80px;
}

@keyframes example {
    0%   {transform: rotate(1deg);}
    25%  {transform: rotate(4deg);}
    50%  {transform: rotate(6deg);}
    100% {transform: rotate(9deg);}
  }

/* .cit:hover{
    transform: rotate(10deg);
} */

.cit:hover{
    animation-name: example;
  animation-duration: 4s;
}

.ct{
  background-color:#12879b;
}
.ct:hover{
  background-color: #2ba1b5;
}

@media only screen and (max-width:639px){
.ccd{

  margin-bottom: 20px;

}
}