/* .rt{
    /* background-color: white; */
   /* position: fixed;
   z-index: 1;
   width: 100%;
   height: 100%;
} */ 
/* 
.mse1 {
margin-left: 250px;
}

@media screen and (width:525px){
    .cf{
        display: none;
    }
} */

.bx{
    cursor: pointer;
}

