.myfoot{

  background-color: #275161;
 height: auto;
 width: 100%;
 color: grey;
 padding:15px 6px;
 text-align: center;
 font-size: medium;
}
.myfoot:hover{
  color: rgb(136, 140, 142);
  border: white;
}