<div class="cf">
<div class="df">
    
 <img src="./assets/faize.png" alt="">
</div>

<div class="content">Hi, I am developer of this website.

I have done my B.Tech from <i>Lovely Professional University</i> , Phagwara. 
The reason I wanted to develop this website was simple and clear i.e. I wanted to help freshers who find it difficult just like I used to in my college days to find a platform where we could find all tools at one place. So that it could help me to self-evaluate. In that learning curve you could polish your skillsets and achievements. There is cut-throat competition coming up and we need to get ready to reach on par the modern industry requirements. My website is an effort towards that step.
<br> <br>

<p>~Faiz Alam <i>(Web Developer)</i></p>
</div>

<div class="container text-center">
  <div class="row g">
    <div class="col n">
      <i class="fa-brands fa-twitter"></i> <a href="https://twitter.com/faiz_alam4" target="_blank"> Twitter</a> 
    </div>
    <div class="col n">
      <i class="fa-brands fa-github"></i> <a href="https://github.com/FaizAlam4" target="_blank">  GitHub</a>
     
    </div>
    <div class="col n">
      <i class="fa-brands fa-linkedin"></i> 
      <a href="https://www.linkedin.com/in/faiz-alam-9179b6135/" target="_blank"> LinkedIn</a>
     
    </div>
  </div>
</div>

</div>