/* You can add global styles to this file, and also import other style files */
body{

    font-family: 'Poppins', sans-serif;
    background-color: rgb(104, 182, 238);
    background-image: url('pexels-mudassir-ali-2680270.jpg');
   
   
   
}

